html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

h1, h2 {
  color: #3f1622;
  text-transform: inherit;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

figcaption {
  color: #222;
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

nav {
  color: #8f2440;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
